*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
root{
    --amarillo: #D68F58;
    --bordo: #762A2F;
    --negro: #21211F;
    --gris: #8A757E;
    --blanco: #F4F3F1;
    --azul: #8aa6aa;
}

body{
    font-family: 'Amethysta', serif;
    background-color: #fde9d5;
    font-size: 16px;
}

a{
    list-style: none;
}

/* INDEX */

#bodyIndex{
    background-image: url('../../img/desktop/fondo landing desktop.png');
    object-fit: fill;
}

.contenedorLogoIndex{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 0; 
    margin-top: 5em;  
    scale:calc(0.6);
    
}

.signoPreguntaIndex{
    height: 10em;
}

#logoIndex{
    height: 20em;
    padding-bottom: 10px;
}

/* CARTA HARRY */


#bodyCartaHarry{
    animation: transitionIn 0.5s;
    
}
@keyframes transitionIn {
    from {
        opacity:0 ;
        transform: translateY(20000px); 
    }
    to {
        opacity:1 ;
        transform: translateY(0px); 
    }
}

#headerDesktop{ 
    background-image: url("../../img/desktop/headerDesktopFondo.png"); 
    min-height: 20vh;
    width: 100vw;
    margin:auto;
}


#flexLogoHeader{
    display: flex;
    justify-content: center;
    align-items: center;
}
#logo-harry-carta, #logo-index{
    max-width:18rem;
    background-color: rgba(0,0,0,0.3);
    padding-top: 1rem;
}
#logo-index{
    max-width: 25rem;
}
#reverseNameContainer{
    margin: 25px auto;
    display: none;
    font-family: Harry;
    font-size: 3em; 
    
}
@keyframes transitionSale {
    from {
        opacity:1 ;
    }
    to {
        opacity:0 ; 
    }
}


.contenedorCartaHarry{
    width: 10rem;  
     
    
}

#photo-frame{
    background-image: url("../../img/marco.png");   
    background-repeat: no-repeat;
    height:25em; 
    width: 22em;   
}
.foto{
    padding-bottom: 2rem;
}
#fotoCarta{
    height: 16em;
    width: 20em;
    clip-path: inset(1px 30px 0px 60px);
    background-repeat: no-repeat;
    margin-top: 3.5em;
    background-size: cover;
}

#datosCarta{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#divCartaMasSelects{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-self: start;
    margin-top: 10px;
    flex-wrap: nowrap;
}

.titulitoSelect{
    text-align: center;
    padding-bottom: 3px;
}
.selectEach{
    background-color:#F4F3F1;;
    width: 12em;
    display: flex;
    justify-content: center;
    align-items: center;
 
}

.selectEach:focus{
    border:5px double #762A2F;
}
.selectorArea{
margin:5px auto;
}
.botonRojo{
    background-color:#762A2F;
    padding: 2px 5px;
    height: 40px;
    color: #F4F3F1;  
    margin-top: 50px;
}
#botonNewCard{
    margin-left:10px;
    background-color:#8aa6aa;
}
#botoneraFinal{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px 0;
}

#selectorNombre, #selectorNombre2{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 2em;
    
}
#selectorNombre2{
    margin-top:-10px;
}

#inputNombre, #showMagicName, .selectEach{
    height: 30px
}
#showMagicName{
    background-color:#8aa6aa;
    color: #F4F3F1;
    padding: 0px 3px;
}
#reverseNameContainer{
    display: flex;
    flex-direction: row;
    
}
#reverseNameDiv{
    margin-top: 20px;
    font-family: Harry;
    font-size: 2em;
}
#inputNombre{
    background-color:#F4F3F1;
    text-align: center;
    margin-right: 10px;
}
#inputNombre:focus{
    background-color:#F4F3F1;
    text-align: center;      
}

#botoneraFinalNombre{
    width: 100%;
    display: flex;
    justify-content:space-between;
    padding: 12px 0;
}
.botonAmarillo{
    background-color:#D68F58;
    width: 45%;
    height: 40px;
    color: #F4F3F1;
    margin-top: -10px;  
}

.textoPadding{
    padding: 20px 0;
}

#textoMensaje{
padding-top: 55px;
font-size: 25px;
text-align: center;
}

#harryCarita{
    display: flex;
    justify-content: center;
}
   

 /* PUNTAJE  */
 #seccionPuntajes{
    display: flex;
    justify-content: center;
 }

#pergaminoPuntaje{
    margin-top: 0px;
    width: 400px;
    height: 300px;
    background-image: url("../../img/pergamino_ok.png");
    background-size:cover;
    background-repeat: no-repeat;
    position: relative;
} 
.legendary, .chooseText{
    text-align: center;
}

#listaPuntajes{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    font-family: Harry;
    font-size: 1.5em;
    padding-top: 0.5em;
    list-style: none;
}
#botonNewCard{
    display: none;
}
.listaRecords{
    font-family: Harry;
    font-size: 20px;
    margin-top: 55px;
    text-align: center;
    top: 50%;
    left: 50%;
    list-style-type: none;
}

#puntajePropio{
    font-size: 25px;
}
.botonLink{
    text-decoration: none;
    color:#F4F3F1
}

#recordOk{
    border: dotted 5px #8A757E;
    color: green;
    text-align: center;
    font-family: Harry;
    font-size: 30px;
    max-width: 300px;

}

#botonTerminar{
    margin: 3rem auto;
}
/* ADIOS */
#logoAdios{
    margin-top: 14%;
}



/* RESPONSIVE */
/* celular */
@media screen and (max-width: 768px) {
}
/* tablet */
@media screen and (max-width: 1440px) and (min-width: 768px){ 
}

/* pc escritorio */
@media screen and (min-width: 1440px){    
}   

/*
.cointainer{
    border: 10px solid blue;
}

.row{
    border: 3px solid lightblue;
}

.col{
    border: 3px solid red;
}*/